[submodule "vim/pack/all/start/vim-templates"]
	path = vim/pack/all/start/vim-templates
	url = https://github.com/tibabit/vim-templates
[submodule "vim/pack/all/start/markdown-preview"]
	path = vim/pack/all/start/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "vim/pack/all/start/vim-dirdiff"]
	path = vim/pack/all/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff
[submodule "vim/pack/all/start/ale"]
	path = vim/pack/all/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/pack/all/start/vim-crystalline"]
	path = vim/pack/all/start/vim-crystalline
	url = https://github.com/rbong/vim-crystalline
[submodule "vim/pack/all/opt/litecorrect"]
	path = vim/pack/all/opt/litecorrect
	url = https://github.com/reedes/vim-litecorrect
[submodule "vim/pack/all/start/mundo"]
	path = vim/pack/all/start/mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "vim/pack/all/start/fugitive"]
	path = vim/pack/all/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/all/start/gutentags"]
	path = vim/pack/all/start/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
