/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 */

#ifndef _{{MACRO_GUARD}}
#define _{{MACRO_GUARD}}

class {{CLASS}} {
	public:
		{{CLASS}} ({{CURSOR}});
		virtual ~{{CLASS}} ();
	private:
		/* private data */
};

#endif // _{{MACRO_GUARD}}
