/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}
 * @created     : {{TIMESTAMP}}
 */

#include <stdlib.h>
#include <stdio.h>

int main(int argc, char *argv[]) {
    {{CURSOR}}
    return 0;
}
