%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% @author      : {{NAME}} ({{EMAIL}})
% @file        : {{FILE}}
% @created     : {{TIMESTAMP}}
%
% @description : {{CURSOR}}
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\documentclass[12pt]{article}

\usepackage[pdfusetitle]{hyperref} % pdf automatic metadata
\usepackage[margin=2cm]{geometry}

\begin{document}

\title{{{FILE}}}
\author{{{NAME}}}
%\date{} % empty date

\maketitle

\end{document}
